body {
  background-color: #e0e0e0;
}

svg {
  display: block;
  margin: auto;
}

.axis path, .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.bar {
  fill: hsl(207.3,44%,49%);
  cursor: pointer;
}

.bar:hover {
  fill: hsl(207.3,44%,39%)
}

.bar.selected {
  fill: hsl(0,59.4%,40.6%);
}

.bar:hover.selected {
  fill: hsl(0,59.4%,30.6%);
}

.label {
  fill: white;
  text-anchor: middle;
}
