svg {
  display: block;
  margin: auto;
  background-color: #eee;
}

.axis path, .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}
